
@{
    ViewData["Title"] = "客戶數量查詢-By 國家";
}
<form method="post" action="byCountry">
    <div>客戶數量</div>
    <input type="text" maxlength="10" required name="id" />
    <input type="submit" value="查詢" />
</form>

